<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Product</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Little Closet template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap-4.1.2/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/flexslider/flexslider.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/product.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/product_responsive.css}">
</head>
<body>

<!-- Menu -->

<div class="menu">

	<!-- Search -->
	<div class="menu_search">
		<form action="#" id="menu_search_form" class="menu_search_form">
			<input type="text" class="search_input" placeholder="Search Item" required="required">
			<button class="menu_search_button"><img th:src="@{/images/search.png}" alt=""></button>
		</form>
	</div>
	<!-- Navigation -->
	<div class="menu_nav">
		<ul>
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/products}">Products</a></li>
			<li><a th:href="@{/product/add}">Add Product</a></li>
			<li><a th:href="@{/cart}">Cart</a></li>
			<li><a th:href="@{/logout}">Logout</a></li>
		</ul>
	</div>
</div>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="header_overlay"></div>
		<div class="header_content d-flex flex-row align-items-center justify-content-start">
			<div class="logo">
				<a href="#">
					<div class="d-flex flex-row align-items-center justify-content-start">
						<div><img th:src="@{/images/logo_1.png}" alt=""></div>
						<div>Online Shop</div>
					</div>
				</a>	
			</div>
			<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
			<nav class="main_nav">
				<ul class="d-flex flex-row align-items-start justify-content-start">
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/products}">Products</a></li>
					<li><a th:href="@{/product/add}">Add Product</a></li>
					<li><a th:href="@{/cart}">Cart</a></li>
					<li><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</nav>
			<div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
				<!-- Cart -->
				<div class="cart"><a th:href="@{/cart}"><div><img th:src="@{/images/cart.svg}" alt="https://www.flaticon.com/authors/freepik"></div></a></div>
			</div>
		</div>
	</header>

	<div class="super_container_inner">
		<div class="super_overlay"></div>

		<!-- Home -->

		<div class="home">
			<div class="home_container d-flex flex-column align-items-center justify-content-end">
				<div class="home_content text-center">
					<div class="home_title" th:inline="text">Add a product</div>
				</div>
			</div>
		</div>

		<!-- Product -->

		<div class="product">
			<div class="container">
				<div class="row">
					
					<!-- Product Info -->
					<div class="col-lg-8 product_col">
						<form id="addForm" method="post" th:action="@{/product/add}" th:object="${product}">
							<div class="form-group">
								<label for="inputName">Name</label>
								<input th:field="*{productName}" name="productName" type="text" class="form-control" id="inputName" placeholder="Product Name" required>
							</div>
							<div class="form-group">
								<label for="inputRef">Reference</label>
								<input th:field="*{ref}" name="ref" type="text" class="form-control" id="inputRef" placeholder="Product Ref" required>
								<small id="nameHelp" class="form-text text-muted">Example: ISBN-4156-3576-7899</small>
							</div>
							<div class="form-group">
								<label for="inputMan">Manufacturer</label>
								<input th:field="*{manufacturer}" name="manufacturer" type="text" class="form-control" id="inputMan" placeholder="Product Manufacturer" required>
							</div>
							<div class="form-group">
								<label for="inputPrice">Price</label>
								<input th:field="*{price}" name="price" type="number" class="form-control" id="inputPrice" placeholder="Product Price" required>
							</div>
							<div class="form-group">
								<label for="inputQuantity">Quantity</label>
								<input th:field="*{qte}" name="qte" type="number" class="form-control" id="inputQuantity" placeholder="Product Quantity" required>
							</div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->

		<footer class="footer">
			<div class="footer_bar">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="footer_bar_content d-flex flex-md-row flex-column align-items-center justify-content-start">
								<div class="copyright order-md-1 order-2"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
								<nav class="footer_nav ml-md-auto order-md-2 order-1">
									<ul class="d-flex flex-row align-items-center justify-content-start">
										<li><a th:href="@{/}">Home</a></li>
										<li><a th:href="@{/products}">Products</a></li>
										<li><a th:href="@{/product/add}">Add Product</a></li>
										<li><a th:href="@{/cart}">Cart</a></li>
										<li><a th:href="@{/logout}">Logout</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
		
</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/styles/bootstrap-4.1.2/popper.js}"></script>
<script th:src="@{/styles/bootstrap-4.1.2/bootstrap.min.js}"></script>
<script th:src="@{/plugins/greensock/TweenMax.min.js}"></script>
<script th:src="@{/plugins/greensock/TimelineMax.min.js}"></script>
<script th:src="@{/plugins/scrollmagic/ScrollMagic.min.js}"></script>
<script th:src="@{/plugins/greensock/animation.gsap.min.js}"></script>
<script th:src="@{/plugins/greensock/ScrollToPlugin.min.js}"></script>
<script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/progressbar/progressbar.min.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/plugins/flexslider/jquery.flexslider-min.js}"></script>
<script type="text/javascript" th:inline="text">

	function addproduct() {
		var formData = $("#addForm").serializeArray();
		function objectifyForm(formArray) {//serialize data function

			var returnArray = {};
			for (var i = 0; i < formArray.length; i++){
				returnArray[formArray[i]['name']] = formArray[i]['value'];
			}
			return returnArray;
		}
		var data = objectifyForm(formData);
		console.log(data);
		$.ajax({
			type: "POST",
			url: "/product-service/products",
			data: data,
			success: function () {
			},
			dataType: "json",
			contentType: "application/json"
		});
	}
</script>
</body>
</html>